appdirs==1.4.4
audioread==3.0.1
certifi==2025.1.31
cffi==1.15.1
charset-normalizer==2.0.12
commonmark==0.9.1
dataclasses==0.8
decorator==5.1.1
idna==3.10
importlib-resources==5.4.0
joblib==1.1.1
librosa==0.9.2
llvmlite==0.36.0
numba==0.53.1
numpy==1.19.5
packaging==21.3
pooch==1.6.0
pycparser==2.21
Pygments==2.14.0
pyparsing==3.1.4
requests==2.27.1
resampy==0.4.3
rich==12.6.0
scikit-learn==0.24.2
scipy==1.5.4
soundfile==0.13.1
threadpoolctl==3.1.0
torch==1.6
typing_extensions==4.1.1
urllib3==1.26.20
zipp==3.6.0
